<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}Wystawto.pl - Nowoczesny portal ogłoszeniowy{% endblock %}</title>

    <link href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/sweetalert/dist/sweetalert.css') }}" rel="stylesheet">
    {% stylesheets filter="scssphp" output="assets/css/main.css" "assets/scss/main.scss" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% block stylesheets %}{% endblock %}
</head>

<body>

    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">WystawTo</a>

            <div class="collapse navbar-collapse" id="navbarsDefault">
                <ul class="navbar-nav">
                    <li class="nav-item{% if app.request.attributes.get('_route') == 'homepage' %} active{% endif %}">
                        <a class="nav-link" href="{{ path('homepage') }}">Home</a>
                    </li>
                    <li class="nav-item{% if app.request.attributes.get('_route') == 'sell' %} active{% endif %}">
                        <a class="nav-link" href="{{ path('sell') }}">Dodaj ogłoszenie</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if not app.user %}
                        <li class="nav-item{% if app.request.attributes.get('_route') == 'login' %} active{% endif %}">
                            <a class="nav-link" href="{{ path('login') }}">Zaloguj się</a>
                        </li>
                        <li class="nav-item{% if app.request.attributes.get('_route') == 'register' %} active{% endif %}">
                            <a class="nav-link" href="{{ path('register') }}">Rejestracja</a>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ app.user.username }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="profile">
                                <a class="dropdown-item" href="{{ path('user_announcements') }}">Ogłoszenia</a>
                                <a class="dropdown-item" href="#">Wiadomości</a>
                                <a class="dropdown-item" href="#">Obserwowane</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('settings') }}">Ustawienia</a>
                                <a class="dropdown-item" href="{{ path('logout') }}">Wyloguj</a>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="dropdown-item" href="{{ path('admin_homepage') }}">Panel administracyjny</a>
                                {% endif %}
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% for flash_message in app.session.flashBag.get('error') %}
            <div class="alert alert-danger">
                {{ flash_message }}
            </div>
        {% endfor %}
        {% for flash_message in app.session.flashBag.get('success') %}
            <div class="alert alert-success">
                {{ flash_message }}
            </div>
        {% endfor %}
    </div>

    {% block body %}{% endblock %}

    <hr />

    <div class="container">
        <footer>
            <p>&copy; Wideapps 2017 <a target="_blank" href="http://wideapps.com.pl">wideapps.com.pl</a></p>
        </footer>
    </div>

    {% javascripts filter="?jsqueeze" output="assets/js/app.js"
    "assets/vendor/jquery/dist/jquery.min.js"
    "assets/vendor/tether/dist/js/tether.min.js"
    "assets/vendor/bootstrap/dist/js/bootstrap.min.js"
    "assets/vendor/sweetalert/dist/sweetalert.min.js"
    "assets/js/main.js"
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    {% block javascripts %}{% endblock %}

</body>
</html>
