{% extends '@Admin/base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Edytuj ogłoszenie: {{ offer.title }}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {{ form_row(form.title) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.category) }}
                    {{ form_row(form.price) }}
                    {{ form_row(form.toNegotiate) }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.stan) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.status) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="x_panel">
                <div class="x_title">
                    <h2>Zdjęcia</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                    {% for image in offer.gallery %}
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail" style="height: auto; overflow: auto">
                                <img src="{{ asset('uploads/'~image) }}" alt="{{ image }}">
                                <div class="caption">
                                    <p><a href="#" class="btn btn-danger btn-block btn-xs removeImage" data-img="{{ image }}" role="button">Usuń</a></p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Akcja</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {{ form_widget(form.submit) }}
                </div>
            </div>
            <div class="x_panel">
                <div class="x_title">
                    <h2>Dane kontaktowe</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {{ form_row(form.fullname) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.phone) }}
                    {{ form_row(form.city) }}
                </div>
            </div>
            <div class="x_panel">
                <div class="x_title">
                    <h2>Opcjonalnie</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {{ form_row(form.purchaseDate) }}
                    {{ form_row(form.warranty) }}
                    {{ form_row(form.warrantyDate) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.removeImage').click(function(e) {
                e.preventDefault();
                var _ = $(this);
                $.post('{{ path('admin_offer_image_remove', {id: offer.id}) }}', {img: $(this).data('img')}, function(data) {
                    if(data.success)
                    {
                        _.parents('.col-md-3').slideUp("fast");
                        return;
                    }
                    alert('Wystąpił błąd');
                }, 'json');
            });
        });
    </script>
{% endblock %}